.footer {
  background-color: #000000; /* neutral-50 */
  border-top: 1px solid #e5e5e5; /* neutral-200 */
}

.wrapper {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  @media (max-width: 1024px) {
  font-size: 1rem;
  }
}


.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  @media (max-width: 1024px) {
  }
}


.button {
  background-color: #FFFFFF;
  color: #000000;
  border: solid 1px #FFFFFF;
  font-weight: bold;
  padding: 0.75rem 3rem;
  transition: background-color 0.2s, color 0.2s;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
}


.link {
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.address {
  font-size: 0.75rem;
  font-style: normal;
  text-align: center;
  padding-top: 2rem;
}

