.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 4rem;
  }
}


.title {
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: -0.05em;
  margin-right: 2rem;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}
.titleImg{
  width: 1em;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  position: relative;
  top: -0.1em;
}

.subtitle {
  text-align: left;
  font-size: 1rem;
  @media (max-width: 768px) {
    text-align: center;
    padding-left: 0;
  }
}


.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
