.wrap {
  padding-block: 3rem;
  @media (max-width: 768px) {
  }
}


.heading {
  margin-bottom: 2rem; /* mb-8 */
  font-size: 3rem; /* text-7xl */
  font-weight: bold;
  letter-spacing: -0.05em; /* tracking-tighter */
  line-height: 1.1;
  @media (max-width: 768px) {
    font-size: 2rem; /* text-5xl */
  }
}


.postGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 3rem;
  @media (max-width: 768px) {
  }
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;

  li {
    cursor: pointer;
    border: 1px solid #ccc;
    a{
      display: block;
      padding: 0.5rem 1rem;
    }
  }

  .active {
    background-color: #FFF;
    color: #000;
  }
}