.wrapper {
  width: calc((100% - 30px * 2) / 3);
  @media (max-width: 1024px) {
  width: calc((100% - 30px * 1) / 2);
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.cover {
  margin-bottom: 1rem; /* mb-5 */
}

.title {
  font-size: 1.5rem; /* text-3xl */
  margin-bottom: 0.75rem; /* mb-3 */
  line-height: 1.2; /* leading-snug */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 2lh;
  @media (max-width: 768px) {
    -webkit-line-clamp: 1;
    height: 1lh;
    font-size: 1.25rem;
  }
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.date {
  font-size: 1.125rem; /* text-lg */
  margin-bottom: 1rem; /* mb-4 */
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.excerpt {
  visibility: hidden;
  height: 0;
}