.separator {
  border-color: #e5e5e5; /* border-neutral-200 */
  //margin-top: 5rem;      /* mt-28 */
  //margin-bottom: 5rem;   /* mb-24 */
  border-width: 1px;
  opacity: 0.5;
  border-style: solid;
}